@charset "utf-8";
/* Code by Cchen */
body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}
ol, ul{list-style:none;}	
html{font-size: 62.5%;}
body{background:#f8f8f8; font-family:"微软雅黑"; font-size:1.4rem; }
h1, h2, h3, h4, h5, h6{ font-size:1.4rem; font-weight:normal;}
a {
	text-decoration:none;
	outline:none;
	-webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
a:hover,a:foucs{text-decoration:none;}
img{ max-width:100%;}
/**/
::selection{ background:#006ca0; color:#8fc31f;}
::-moz-selection{ background:#006ca0; color:#8fc31f;}
/*浮动*/
.clear { clear:both}
.clearfix { *zoom:1;}
.clearfix:after{clear:both; display:block; height:0; visibility:hidden; line-height:0; content:'\20';}

.hidden{ display:none !important;}
.BoxSlide{transition:all 0.4s linear;-moz-transition:all 0.4s linear;-ms-transition:all 0.4s linear;-webkit-transition:all 0.4s linear;}

.trans_delay0{transition-delay:0.2s;}
.trans_delay1{transition-delay:0.3s;}
.trans_delay2{transition-delay:0.4s;}
.trans_delay3{transition-delay:0.5s;}
.trans_delay4{transition-delay:0.6s;}
.trans_delay0,.trans_delay1,.trans_delay2,.trans_delay3,.trans_delay4{transition-property:all;transition-duration:0.4s;transition-timing-function:linear;}
/*区间备注*/
/*1920大屏幕优先，1920以上居中显示*/
@media (max-width: 1200px){/*1024 ~ 1366 laptop*/}
@media (max-width: 1000px){/*720 ~ 1024 pad*/}
@media (max-width: 700px){/* < 700 phone*/}
.Admission{}/*入场动画标志*/
.Admission .trans_delay0,.Admission .trans_delay1,.Admission .trans_delay2,.Admission .trans_delay3,.Admission .trans_delay4{ opacity:0;}
/**/
header{ width:100%; height:60px; position:fixed; left:0; top:0; background:#fff; z-index:999; box-shadow:#ccc 0 2px 5px;}
#nav{  width:60px; height:60px; display: block; position:absolute; left:0; top:0; background: rgba(255,255,255,.8); border-right:1px solid #f1f1f1;}
.nav-btn{ display:block; width:26px; height:21px; margin:20px auto 0 auto; position:relative;}
.menu-icon{ display:block; width:100%; height:3px; background:#006ca1; margin-bottom:5px; position:absolute;transition:all 0.2s linear; z-index:1;}
.nav-icon-01{ top:0;}
.nav-icon-02{ top:8px;}
.nav-icon-03{ top:16px;}
#language{width:60px; height:60px; position:absolute; right:0; top:0; text-align:center; line-height:60px; display:inline-block; border-left:1px solid #f1f1f1; color:#999; background:#fff;}
#language:hover{ color:#fff; background:#006ca1;}

#nav:hover .nav-icon-01{ transform:translate(0,-2px)}
#nav:hover .nav-icon-03{ transform:translate(0,2px)}
a.logo{ width:100px; height:60px; text-align:center; display:block; position:absolute; left:76px; top:0;}
a.logo img{ height:30px; width:auto; margin:15px 0 0 0;}
/*nav*/
nav{ width:180px; height:100%; position:fixed; z-index:998; left:-280px; top:0; background:#fff;transition:all 0.8s cubic-bezier(0.23, 1, 0.32, 1); font-size:1.4rem; }
.menu-list{ display:block; background:#fff; height:100%;padding-top:72px;}
.menu-list li{ text-align:center; color:#999; border-top:1px solid #f1f1f1; height:50px; line-height:50px;}
.menu-list li:first-child{ border-color:#fff;}
.menu-list li a{ color:#999;}
.menu-list li.show{ background:#f8f8f8;}
.menu-list li.show a{ color:#666;}

#menu-pull{ width:300px; height:100%; position: absolute; z-index:-1;  left:0; top:0; opacity:0;transition:all 0.8s cubic-bezier(0.23, 1, 0.32, 1); display:none;}
.pull-right{transform:translate(180px,0); opacity:1 !important;}
.pull-child{ display:block; width:100%; opacity:0; z-index:-1; position:absolute; left:0; top:52px; padding-top:20px;transform:translate(-300px,0);background:#666666; height:100%;transition:all 0.8s cubic-bezier(0.23, 1, 0.32, 1);}
.pull-child li{}
.pull-child li a{ line-height:20px; padding:15px 0 15px 50px; display:block; color:#fff; position:relative;}
.pull-child li a:after{ content:""; display:block; width:10px; height:calc(100%); position:absolute; left:0; top:0; z-index:-1; background:#666;transition:all 0.8s cubic-bezier(0.23, 1, 0.32, 1);}
.pull-child a:hover:after{ width:300px; background:#828282;}

.pull-right .showit{ opacity:1; z-index:1;transform:translate(0,0)}
/*open-nav*/
.open-nav{ overflow-y:hidden;}
.open-nav #nav .nav-icon-01{transform:rotate(45deg);-ms-transform:rotate(45deg);transform-origin:2px 3px;-ms-transform-origin:2px 3px;}
.open-nav #nav .nav-icon-02{ opacity:0;}
.open-nav #nav .nav-icon-03{transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform-origin:2px 0;-ms-transform-origin:2px 0;}
.open-nav nav{ transform:translate(280px,0);-ms-transform:translate(280px,0) }
.open-nav #mask{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,.7); left:0; top:0; z-index:997;}
.open-nav #menu-pull{ display:block;}
/*main*/
article{padding-top:60px; }
/*pro*/
.toptechnology{ width:100%; max-width:1920px; height:718px; background:#eee; overflow:hidden; margin:0 auto;}
.index-pro{ width:100%; max-width:1260px; margin:160px auto 0; overflow:hidden;}
.index-pro h2{ font-size:40px; font-size:4rem; color:#333; position:relative; left:-1.5rem;}
.index-pro-left{ display:inline-block; width:60%;}
.index-pro-left p{ font-size:1.8rem; color:#666666; line-height:1.8em; padding:2em 0;}
.index-pro-left a{ margin-top:20px;}
a.more-000{ width:146px; height:46px; text-align:center; line-height:46px; font-size:16px; color:#3f3f3f; border:1px solid #666; display:block;}
a.more-000 em{ display:inline-block; width:1em; height:100%; background:url(../images/youjian.png) no-repeat center center; background-size:100% auto; margin-left:5px; transition:all 0.2s linear;}
a.more-000:hover em{transform:translate(20px,0); opacity:0;}

.index-pro-left a:hover{ }
.index-pro-right{ width:40%; display:inline-block; float:right; padding-top:62px;}
.index-pro-right img{ max-width:100%;}
/*--*/
.Admission .index-pro h2,.Admission .index-pro-left p,.Admission .index-pro-left a,.Admission .index-pro-right img{transform:translate(0,20px); position:relative;}
@media (max-width: 1200px){
.toptechnology{ width:90%; padding:0 5%; height:600px;}
}
@media (max-width: 960px){/*720 ~ 1024 pad*/}
@media (max-width: 700px){/* < 700 phone*/}

/*NEWS*/
.index-news-bg{ width:100%; max-width:1920px; height:765px; background:url(../images/indexnews.jpg) no-repeat center top; margin:142px auto 0;}
.index-news{ width:100%; max-width:1260px; height:100%; margin:0 auto; position:relative; color:#fff;}
.news-ban{ width:300px; height:553px; background:#8fc31f; color:#fff; padding:130px 22px 0 22px; position:absolute; left:0; top:-54px;}
.news-ban hr{ border:1px solid #fff; display:block; width:300px; position:absolute; bottom:45px; transition:width 0.4s linear 0.2s;}
.news-ban h2{ font-size:3rem; font-weight:normal;}
.news-ban h1{ font-size:4.15rem; font-weight:normal; line-height:52px; padding:1em 0 2em 0;}
.news-ban p{ font-size:1.8rem; line-height:24px;}

.nowsbody{ width:790px; height:542px; float:right; padding-top:223px; position:relative;}
.nowsbody h2{ font-size:3rem; margin-bottom:2em;}
.nowsbody p{ font-size:1.8rem; text-indent:2em; line-height:2em;}
.nowsbody a{ position:absolute; left:0; bottom:136px;}
a.more-fff{ height:40px; text-align:center; line-height:40px; font-size:16px; color:#fff; border:1px solid #fff; display:inline-block; padding:0 14px 0 30px;}
a.more-fff em{ display:inline-block; width:1em; height:100%; background:url(../images/youjianfff.png) no-repeat center center; background-size:100% auto; margin-left:5px;transition:all 0.2s linear;}
a.more-fff:hover em{transform:translate(20px,0); opacity:0;}
/*--*/
.Admission .news-ban{transform:translate(0,54px);}
.Admission .nowsbody h2,.Admission .nowsbody p{}
.Admission .nowsbody a{transform:translate(0,20px);}
@media (max-width: 1200px){
.index-news-bg{ width:100%;height:565px;margin:0 auto 0;}
.news-ban{ width:200px; height:400px; padding:100px 10px 0 10px;top:-34px;}
.news-ban hr{width:200px;}
.news-ban h2{ font-size:2rem;}
.news-ban h1{ font-size:3rem;line-height:42px;}
.news-ban p{ font-size:1.4rem;}
.nowsbody{ width:70%; height:442px;padding-top:123px; padding-right:2%;}
.nowsbody a{ bottom:80px;}
}
@media (max-width: 960px){/*720 ~ 1024 pad*/}
@media (max-width: 700px){/* < 700 phone*/}
 
/*HSA*/
.hsa{ width:100%; max-width:1920px; margin:20px auto;}
.hsa-three{ width:32%; height:600px; float:left; margin-left:1%; color:#fff;}
.hsa_top{ width:100%; height:76%; opacity:0.9;transition:all 0.4s linear;}

.hsa-about{ background:#8fc31f; text-align:center; position:relative;}
.hsa-about .hsa_top{ width:-webkit-calc(100% - 40px);width:-moz-calc(100% - 40px);width:calc(100% - 40px);/* background:url(../images/HSAlogo.png) no-repeat right bottom; background-size:50% auto;*/ margin:0 20px 0 20px;}
.hsa-about a.more-fff{ display:inline-block; position:absolute; left:50%; bottom:50px; margin-left:-65px;}
.hsa-about h3{ font-size:3.6rem; padding:11rem 0 5rem 0;}
.hsa-about p{ font-size:2rem; font-weight:500;}
.hsa-about p span{ display:block;}

.hsa-influ{ position:relative;}
.hsa-influ .hsa_top{ width:80%; height:100%; padding:0 10%; margin:0 auto; background:url(../images/HSAinf.jpg) no-repeat center top; background-size:auto 105%;}
.hsa-influ:hover .hsa_top{ background-size:auto 110%;}
.hsa-influ a.more-fff{ display:inline-block; position:absolute; left:10%; bottom:50px;}
.hsa-influ h3{ font-size:3.6rem; padding:9rem 0 0 0;}
.hsa-influ span{ font-size:1.6rem; margin-top:4rem; display:inline-block;}
.hsa-influ p{ font-size:2rem; line-height:24px; margin-top:2rem;}

.hsa-group{ background:#00b7ee; position:relative;}
.hsa-group .hsa_top{ background: url(../images/HSAgrop.jpg) no-repeat center top #eee; background-size:auto 105%; opacity:1;}
.hsa-group:hover .hsa_top{ background-size:auto 110%;}
.hsa-group h3{ height:54px; line-height:54px; position:absolute;font-size:3.6rem; z-index:2; left:5%; bottom:50px;}
.hsa-group a.more-fff{ position:absolute; z-index:3; right:5%; bottom:50px;}
/*--*/
.Admission .hsa-three{ position:relative; transform:translate(0,40px);}
@media (max-width: 1200px){
.hsa{ margin:0;}
.hsa-three{ height:500px; margin-left:0;}
.hsa-about{ width:100%; height:280px}
.hsa-about h3{padding:4rem 0 3rem 0;}
.hsa-about p span{ display: inline; padding:0 15px;}
.hsa-influ{ width:50%;}
.hsa-influ .hsa_top{ width:90%; padding:0 5%;}
.hsa-influ a.more-fff{ left:5%;}
.hsa-group{ width:50%;}
/*.hsa-influ .hsa_top{ background-size:105% auto;}.hsa-influ:hover .hsa_top{ background-size:110% auto;}
.hsa-group .hsa_top{ background-size:105% auto;}.hsa-group:hover .hsa_top{ background-size:110% auto;}*/
}
@media (max-width: 1000px){/*720 ~ 1024 pad*/}
@media (max-width: 700px){/* < 700 phone*/}
/*indexabout*/
.index-about{ width:100%; max-width:1920px; margin:0 auto;}
.ab-child{ display:inline-block; float:left; height:720px; text-align:center; position:relative; overflow:hidden;}
.ab-child h2{ font-size:3.6rem; line-height:42px;display:inline-block; margin:200px 0 40px 0;}
.ab-child p{ font-size:2rem; line-height:28px;}
.ab-bg{ width:100%; height:100%; transition:all 0.8s linear; position: absolute; left:0; top:0; z-index:-1;}

.ab-left{ width:37.5%; color:#fff; }
.ab-left .ab-bg{background:url(../images/ab-left.jpg) no-repeat center center; background-size:auto 100%;}
.ab-right{ width:62.5%; color:#666;}
.ab-right .ab-bg{ background:url(../images/ab-right.jpg) no-repeat center center; background-size:auto 100%; background-size:auto 100%;}
.ab-child:hover .ab-bg{ transform:scale(1.05)}
@media (max-width: 1200px){
.ab-child{ height:600px;}
.ab-child h2{margin:150px 0 30px 0;}
.Admission .ab-child{ position:relative; transform:translate(0,40px);}
}
@media (max-width: 1000px){/*720 ~ 1024 pad*/}
@media (max-width: 700px){/* < 700 phone*/}

/*footer*/
footer{ width:100%; max-width:1920px; margin:0 auto;background:#434343;font-size:1.2rem;}
footer > div{width:66.7%; min-width:1200px; margin:0 auto; }
.moreicon{ border-bottom:1px solid #ccc; padding:40px 0 38px 0;}

.botnav{ overflow:hidden; padding:35px 0;}
.botchild{ height:24px; line-height:24px;}
.botchild a{ display:inline-block; color: #fff; height:24px; line-height:24px; opacity:0.9;}
.botchild a:hover{text-decoration:underline;}
.botnab-left{ width:40%; float:left; text-align:left;}
.botnab-left a{ padding:0 20px 0 0;}
.botnav-right{ width:60%; float: left; text-align:right;}
.botnav-right a{ padding:0 0 0 50px;}

.botinfo{ color:#fff; position:relative; padding:40px 0;}
.botinfo img{ position:absolute; right:0; top:0; z-index:2;}
@media (max-width: 1200px){
footer > div{ width:94%; min-width:100px; padding:0 3%;}
.botnab-left a{ padding:0 20px 0 0;}
.botnav-right a{ padding:0 0 0 20px;}
}
@media (max-width: 1000px){/*720 ~ 1024 pad*/}
@media (max-width: 700px){/* < 700 phone*/}
